@media only screen and (max-device-width: 414px) {
  header {
    .header-photo {
      background: url("../img/header.png") no-repeat;
      background-size: contain;
      width: 100%;
      height: 700px;
    }
    .logo {
      position: absolute;
      top: 15%;
      margin: 0 auto;
      font-size: 30px;
      font-family: 'latolight';
      color: $color6;
      margin-left: 25px;
    }
  }
  .recentWorks {
    display: flex;
    flex-direction: column;
    margin: 0 90px;
    padding: 0;
    font-size:40px;

    .firstBlock {
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      .firstWork {
        width: 100%;
        height: 690px;
      }
      .twoWorks {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0;
        margin-top: 25px;
        width: 100%;
        .secondWork {
          margin-right: 10px;
          width: 48%;
          height:330px;
        }
        .thirdWork {
          margin-left: 10px;
          width: 48%;
          height:330px;
        }
      }
    }
    .secondBlock {
      margin: 25px 0;
      margin-bottom: 240px;
    }
    h1 {
      padding-left: 0;
    }
  }
  .portfolio {
    display: block;
    margin: 0 90px;
    .content_item {
      display: flex;
      flex-direction: column;
      margin: 0;
      a {
        display: block;
        width:100%;
        &:hover,
        &:focus {
          outline: none;
        }
      }
      .photosBlock {
        width: 100%;
        height: 525px;
      }
      .photosBlock_text {
        margin: 65px auto;
      }
    }
    .content_item.reverse {
      display: flex;
      flex-direction: column-reverse;

    }
  }
  footer {
    margin: 0 90px;
    h1 {
      font-size: 50px;
    }
    form {
      width: 500px;
      input,textarea {
        border: 1px solid $color7;
        color: $color10;
        padding-top: 20px;
        padding-left: 20px;
        padding-bottom: 20px;
        font-size: 24px;
        outline: none;
      }

      textarea {
        padding-bottom: 150px;
      }

      button {
        margin-top: 20px;
        padding: 20px 0;
        font-family: 'latobold';
        font-size: 36px;
        border: 2px solid $color11;
        color: $color11;
        text-align: center;
        background: transparent;
        text-transform: uppercase;
      }
    }
    ul {
      .instagram, .phone {
        display: block;
        width: 70px;
        height: 62px;
        margin-bottom: 50px;
        background: no-repeat center;
        background-size: 60px 60px;
      }
      .instagram {
        background-image: url('../img/icons/instagram.svg');
      }

      .phone {
        background-image: url('../img/icons/phone.svg');
      }
    }

  }
}