@media only screen and (max-device-width: 414px) {
  header {
    .header-photo {
      background: url("../img/header.png") no-repeat;
      background-size: contain;
      width: 100%;
      height: 700px;
    }
    .logo {
      position: absolute;
      top: 15%;
      margin: 0 auto;
      font-size: 30px;
      font-family: 'latolight';
      color: $color6;
      margin-left: 25px;
    }
  }
  .recentWorks {
    display: flex;
    flex-direction: column;
    margin: 0 90px;
    padding: 0;
    font-size:40px;

    .firstBlock {
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      .firstWork {
        width: 100%;
        height: 690px;
      }
      .twoWorks {
        display: flex;
        flex-direction: row;
        margin: 0;
        margin-top: 25px;
        .secondWork, .thirdWork {
          width: 48%;
          height:330px;
        }
      }
    }
    .secondBlock {
      margin: 25px 0;
      margin-bottom: 240px;
    }
    h1 {
      padding-left: 0;
    }
  }
  .portfolio {
    display: block;
    margin: 0 90px;
    .content_item {
      display: flex;
      flex-direction: column;
      margin: 0;

      .photosBlock {
        width: 100%;
        height: 525px;
      }
      .photosBlock_text {
        margin: 65px auto;
      }
    }
    .content_item.reverse {
      display: flex;
      flex-direction: column-reverse;

    }
  }
  footer {
    margin: 0 90px;
    ul {
      .instagram, .phone {
        display: block;
        width: 70px;
        height: 62px;
        margin-bottom: 50px;
        background: no-repeat center;
        background-size: 60px 60px;
      }
      .instagram {
        background-image: url('../img/icons/instagram.svg');
      }

      .phone {
        background-image: url('../img/icons/phone.svg');
      }
    }

  }
}