@media only screen and (max-device-width: 414px) {
  header {
    .header-photo {
      background: url("../img/header.png") no-repeat;
      background-size: contain;
      width: 100%;
      height: 700px;
    }
    .logo {
      position: absolute;
      top: 15%;
      margin: 0 auto;
      font-size: 30px;
      font-family: 'latolight';
      color: $color6;
      margin-left: 25px;
    }
  }
  .recentWorks {
    display: flex;
    flex-direction: column;
    margin: 0 90px;
    padding: 0;
    .firstBlock {
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      .firstWork {
        width: 100%;
        height: 690px;
      }
      .twoWorks {
        display: flex;
        flex-direction: row;
        margin: 0;
        margin-top: 25px;
        .secondWork, .thirdWork {
          width: 48%;
          height:330px;
        }
      }
    }
    .secondBlock {
      margin: 25px 0;
    }
    h1 {
      padding-left: 0;
    }
  }
  .portfolio {
    display: none;
  }
  footer {
    display: none;
  }
}