// main colors:

$color1: #000;
$color2: #292929;
$color3: #454545;
$color4: #808080;
$color5: #E3E1DD;
$color6: #FFF;
$color7: #6c6a68;
$color8: #5ABA70;
$color9: #FCCE54;
$color10: #a8a6a4;
$color11: #DEAE59;
$color12: rgba(0, 0, 0, .8);
$color13: #1A1A1A;
$color14: #9B9B9B;
$color15: #2c2a28;

// sandwich menu
$background--color:#1e2023;
$icon--color:#1e2023;
$font--color:#ffffff;
$font--color--active:#000000;
$font--primary:'Fira Sans', sans-serif;
$transition--length: .8;